#searchInput {
  font-size: 14px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
}
body.light-mode #searchInput {
  background-color: #fff;
  color: #000;
}
body.dark-mode #searchInput {
  background-color: #555;
  color: #fff;
  border-color: #444;
}
#searchInput:focus {
  outline: none;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
